    /* Variables */
    // colors
    $white: #FFF;
    $black: #000;

    // fonts
    $font_family: 'GothamPro',
    sans-serif;

    // sizes window
    $mobile_p: 480px;
    $mobile_l: 560px;
    $tablets: 1024px;
    $desctops_s: 1280px;
    $max-aspect-ratio:"12/10";


    // animation start
    $skills-start-anim:0.8;
    $menuheight:80px;
    $menufixheight:50px;